body{
    background-image: url("./img/background.svg")
}
main{
    margin-left: 165px;
}
ul{
    list-style-type: none;
}
.content-section{
    height: 100vh;    
    padding-right: 25px;
}
.content-section__header{
    color: #ec008c; 
    position: relative;
    text-align: right;
    top: 60px;
    right: 40px;
}

/*sidebar*/
.sidebar{
    position: fixed;
    width: 160px;
}
.sidebar-social-media{
    position: fixed;
    top: 580px;
}
.svg{
    width: 25px;
    height: auto;
}

/*home*/
.screen-reader-only{
    color: transparent;
}
.band-members-list{
    display:flex;  
    list-style-image: unset;
}
.band-members-list__item{
    margin-left: 5vh;
    margin-top: 15vh;
}

/*about*/
img.about-section__image{
    width: 700px;
    height: auto;
    position: relative;
    top: 60px;
    left: 430px;
    border-top: 3px #ec008c solid;
}
.article-section__text{
    background-color: #25072e;
    border-bottom: 3px #ec008c solid;
    position: relative;    
    left: 130px;
    bottom: 200px;
    width: 400px;
    height: 300px;
}
.article-section__header{
    color: #CCC8FF;    
    padding-top: 20px;
    padding-left: 20px;
}
.article__text{
    color: #CCC8FF;    
    padding: 20px;
}

/*concerts*/
img.concert-section__image{
    width: 300px;
    height: auto;
    border-bottom: 3px #ec008c solid;
}
.concert-section__concerts-list{
    display:flex;  
    list-style:none;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
    width: 650px;  
    position: relative;
    left: 450px;
    top: 80px;  
}
.TICKETS{
    position: relative;
    text-align: right;
    top: -40px;
    left: 170px;
}
.concerts__location{
    margin: 0px;
    position: relative;
    top: -50x;
}
.concerts__date{
    margin: 0px;
    margin-top: 10px;
}

/*video*/
.video{
    border-top: 3px #ec008c solid;
    position: relative;
    top: 60px;
    left: 280px;
}

/*gallery*/
.gallery{
    position: relative;
    top: 80px;
    left: 200px;
    display:flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style:none;
    width: 900px;
    height: 600px;
    list-style-position: inherit;
}
.gallery__image{
    border-top: 3px #ec008c solid; 
    width: 280px;
    height: auto;  
}

/*contact*/
img.contact__image{
    position: relative;
    left: 230px;
    top: 80px;
}
address{
    position: relative;
    top: -80px;
    left: 750px;

}
.form{
    position: relative;
    top: 80px;
    left: 230px;
}
